<template>
    <div class="modal about-modal"
        :class="isActive? 'is-active' : ''">
        <div class="modal-background" @click="closeAbout()"></div>
        <div class="modal-card">
            <header tabindex="0" ref="headerModal" class="modal-card-head">
                <p class="modal-card-title"><i class="las la-info-circle"></i> Info</p>
                <button class="delete" aria-label="close" @click.prevent="closeAbout()"></button>
            </header>
            <section class="modal-card-body">
                <div tabindex="0" class="content">
                    <p>Questa pagina contiene una lista di servizi gratuiti di supporto psicologico
                        che sono attivi sul territorio italiano a fronte dell'emergenza di pandemia da virus Covid-19.</p>
                    <p>È un progetto open source moderato dagli sviluppatori: la moderazione è necessaria per evitare che
                        siano inserite informazioni fuorvianti, oppure orientate alla promozione di situazioni opache e/o poco gradite.</p>
                    <p>Siamo designer e sviluppatori di software. Non siamo psicologi o psicoterapeuti, e non siamo affiliati a nessuna delle associazioni elencate. Le informazioni sono state raccolte da fonti eterogenee e probabilmente sono incomplete o inesatte.</p>
                    <p>Per contribuire alla lista puoi:</p>
                    <ul>
                        <li class="has-text-weight-bold">compilare il <span  @click="closeAbout()"><nuxt-link to="form">modulo in questo sito</nuxt-link></span> (questo è il metodo migliore)</li>
                        <li>fare una segnalazione tramite l'<a href="https://gitlab.com/bedita/covid19/supporto-psicologico-covid-19/-/issues" target="_blank">apertura di una issue su Gitlab</a></li>
                        <li>da sviluppatore, sottoporre al <a href="https://gitlab.com/bedita/covid19/supporto-psicologico-covid-19" target="_blank">progetto su Gitlab</a> una <span class="is-italic">Merge Request</span></li>
                        <li>scrivere a <a href="https://twitter.com/nicolocarp" target="_blank" title="vai al profilo su twitter">@nicolocarp</a> o <a href="https://twitter.com/batopa" target="_blank" title="vai al profilo su twitter">@batopa</a> su Twitter (non assicuriamo risposte celeri, è sempre meglio che usiate il modulo su indicato).</li>
                    </ul>
                    <p>__<br>Grazie a chiunque abbia contribuito.<br>
                        State bene,<br>
                        Christo, Bato, Nicolò, Paolo, Stefano, Dante, Edoardo e Niki.<br>
                        <span class="help">(e resto del team <a href="https://github.com/orgs/bedita/teams/core/members" target="_blank">BEdita</a>)</span>
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button" ref="closeModal" @click.prevent="closeAbout()">Chiudi</button>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isActive: {
            type: Boolean,
            default: false,
        }
    },
    watch: {
      	isActive: function(newVal, oldVal) {
            if(newVal === true) {
                this.$nextTick(() => {
                    console.log('sa', this.$refs)
                    this.$refs.headerModal.focus();
                });
            }
        }
    },
    methods: {
        closeAbout() {
            this.$emit('closeAbout', true);
        }
    }
};
</script>

<style>
    .about-modal .modal-card {
        max-width: calc(100% - 4rem);
    }
</style>
