<template>
    <div class="filters">
        <div class="results-count">
            <div class="tags has-addons">
                <span tabindex="0" class="tag has-text-weight-bold"
                    :class="(search || selectedCategories.length !== categories.length)? 'is-info' : ''">{{ countResults }}</span>
                <span tabindex="0" class="tag is-dark">iniziative mostrate</span>
            </div>
            <button class="button is-small is-rounded is-info is-light is-outlined"
                @click="resetFilters()"
                v-show="search || selectedCategories.length != categories.length" v-cloak>Mostra tutte</button>
        </div>

        <div class="columns">
            <div class="column">
                <div class="buttons">
                    <button v-for="c in categories" :key="c.name"
                        class="button"
                        :class="buttonClass(c.name)"
                        @click="toggleCategory(c.name)">{{ c.label }}</button>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="control has-icons-right">
                    <input class="input" type="text" placeholder="Cerca"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        @input="search = $event.target.value" :value="search" name="search">
                    <button class="delete input-delete" v-show="!!search" @click="search = ''" />
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .filters {
        margin-bottom: 2rem;
        @media screen and (max-width: 768px), print {
            display: flex;
            flex-direction: column;
            .results-count {
                margin-top: 1rem;
                order: 1;
            }
        }

        .results-count {
            display: flex;
            .tags {
            margin-top: 0.325rem;
            margin-right: .5rem;
            .tag:first-child {
                    background-color: #adb5bd; // gray-600
                    &.is-info {
                        background-color: #3298dc; // is-info
                    }
                }
            }
            .button.is-small {
                margin-top: .125rem;
            }
        }

        button.input-delete {
            position: absolute;
            right: .5rem;
            top: .625rem;
        }
    }
    .button.is-unchecked {
        text-decoration: line-through;
    }
</style>

<script>
export default {
    props: {
        categories: {
            type: Array,
            default: () => [],
        },
        countResults: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            selectedCategories: [],
            search: '',
        };
    },

    watch: {
        selectedCategories(val) {
            this.$emit('selectCategories', val);
        },
        search(val) {
            this.$emit('search', val);
        },
    },

    mounted() {
        this.resetFilters();
    },

    methods: {
        toggleCategory(category) {
            if (this.categories.length == this.selectedCategories.length || this.selectedCategories.length == 0) {
                this.selectedCategories = [category];
                return;
            }

            const i = this.selectedCategories.indexOf(category);
            if (this.selectedCategories.length == 1 && i !== -1) {
                this.selectedCategories = this.categories;
                return;
            }

            (i !== -1) && this.selectedCategories.splice(i, 1);
            (i === -1) && this.selectedCategories.push(category);
        },

        resetFilters() {
            this.search = '';
            this.selectedCategories = this.categories.map(item => item.name);
        },

        buttonClass(category) {
            // no cateogry is selected
            if (this.selectedCategories.length === 0 || this.selectedCategories.length === this.categories.length) {
                return 'is-info';
            }

            if (this.selectedCategories.indexOf(category) !== -1) {
                return 'is-info';
            }

            return 'is-unchecked';
        },
    }
}
</script>
