<template>
<footer class="main-footer">
    <p>2020 no copyright | GPL License 3.0 <i class="las la-cocktail"></i></p>
    <p class="help">Questo sito non utilizza cookie o strumenti di analytics. Il progetto è <a href="https://gitlab.com/bedita/covid19/supporto-psicologico-covid-19" target="_blank">open source su gitlab</a>.</p>
</footer>
</template>

<style scoped>
    a {
        color: #5ccaff;
    }
    a:hover {
        color: white;
    }
</style>
