<template>
<div class="form-container">
    <div class="error-message message is-danger" v-show="isFailed">
        <div class="message-body">
            <p ref="errorMessage" tabindex="0">Ci spiace, c'è stato un errore nell'invio.<br>Se l'errore persiste ti preghiamo di riprovare più tardi.</p>
        </div>
    </div>

    <form name="submit-service" v-if="!isSubmitted"
        ref="serviceForm"
        @change="onChange"
        @submit.prevent="onSubmit($event)">

        <div tabindex="0" class="panel is-info">
            <h1 class="panel-heading"><i class="las la-plus-circle"></i>Segnala un nuovo servizio</h1>
            <div class="panel-block">
                <div class="content">
                    <p>Non è necessario riempire ogni campo, ma ti chiediamo di inserire almeno:</p>
                    <ul>
                        <li>il <span class="has-text-weight-bold">nome</span> del servizio</li>
                        <li>una <span class="has-text-weight-bold">descrizione</span> possibilmente non troppo lunga</li>
                        <li>una informazione di <span class="has-text-weight-bold">contatto</span></li>
                    </ul>
                    <p>Cercheremo di reperire eventuali volantini o immagini al sito web indicato.<br>
                        Alla segnalazione seguirà un processo di validazione per garantire la qualità dei dati.
                    </p>
                </div>
            </div>
            <p class="panel-block required">
                NB: l'asterisco * descrive un campo obbligatorio.
            </p>
        </div>

        <div class="field"></div>

        <div class="panel">
            <p class="panel-block">
                <label class="is-size-5" for="title">Nome del servizio <span class="required">*</span></label>
            </p>
            <p class="panel-block">
                <input minlength="2" maxlength="60" placeholder="es. Sportello dell'Associazione ACME" type="text" id="title" name="title"
                    autocomplete="name-nope" autocorrect="off" spellcheck="false"
                    required pattern=".*\S+.*" title="inserisci un titolo"
                    class="input-long">
            </p>
        </div>

        <div class="panel">
            <p class="panel-block">
                <label class="is-size-5" for="description">Descrizione <span class="required">*</span></label>
            </p>
            <p class="panel-block">
                <input minlength="2" maxlength="300" placeholder="es. L'associazione ACME fornisce…" type="text" id="description" name="description"
                    autocomplete="description-off" autocorrect="off" spellcheck="false"
                    required pattern=".*\S+.*" title="inserisci una descrizione"
                    class="input-long">
            </p>
        </div>

        <div class="field"></div>

        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="phone-1">Telefono</label>
                    </p>
                    <p class="panel-block">
                        <span class="prefix">+39</span>
                        <input minlength="6" maxlength="15" placeholder="es. 061234567" type="text" id="phone-1" name="phone-1"
                            autocomplete="1-off" autocorrect="off" spellcheck="false"
                            class="input-long">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="phone-2">Telefono 2</label>
                    </p>
                    <p class="panel-block">
                        <span class="prefix">+39</span>
                        <input minlength="6" maxlength="15" placeholder="es. 061234567" type="text" id="phone-2" name="phone-2"
                            autocomplete="2-off" autocorrect="off" spellcheck="false"
                            class="input-long">
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="phone-3">Telefono 3</label>
                    </p>
                    <p class="panel-block">
                        <span class="prefix">+39</span>
                        <input minlength="6" maxlength="15" placeholder="es. 061234567" type="text" id="phone-3" name="phone-3"
                            autocomplete="3-off" autocorrect="off" spellcheck="false"
                            class="input-long">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="sms">Numero per SMS</label>
                    </p>
                    <p class="panel-block">
                        <span class="prefix">+39</span>
                        <input minlength="6" maxlength="15" placeholder="es. 3391234567" type="text" id="sms" name="sms"
                            autocomplete="sms-off" autocorrect="off" spellcheck="false"
                            class="input-long">
                    </p>
                </div>
            </div>
        </div>

        <div class="field"></div>

        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="email">Email</label>
                    </p>
                    <p class="panel-block">
                        <input placeholder="es. associazione@example.org" type="email" id="email" name="email"
                            autocomplete="email-off" autocorrect="off" spellcheck="false" autocapitalize="off"
                            class="input-long">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="website">Sito Web o Pagina facebook</label>
                    </p>
                    <p class="panel-block">
                        <input placeholder="es. www.example.org" type="url" id="website" name="website"
                            autocomplete="url-off" autocorrect="off" spellcheck="false" autocapitalize="off"
                            class="input-long">
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="opening">Orari</label>
                    </p>
                    <p class="panel-block">
                        <input placeholder="es. 9:00 - 16:00 dal lunedì al venerdì" type="text" id="opening" name="opening"
                            autocomplete="hours-off" autocorrect="off" spellcheck="false" autocapitalize="off"
                            class="input-long">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="location">Luogo</label>
                    </p>
                    <p class="panel-block">
                        <input placeholder="es. Regione Lombardia / Milano" type="text" id="location" name="location"
                            autocomplete="place-off" autocorrect="off" spellcheck="false"
                            class="input-long">
                    </p>
                </div>
            </div>
        </div>

        <div class="field">
            <p>Altri contatti</p>
        </div>

        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="whatsapp">Numero Whatsapp</label>
                    </p>
                    <p class="panel-block">
                        <input minlength="6" maxlength="15" placeholder="es. 3391234567" type="text" id="whatsapp" name="whatsapp"
                            autocomplete="whatsapp-off" autocorrect="off" spellcheck="false"
                            class="input-long">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="telegram">Telegram</label>
                    </p>
                    <p class="panel-block">
                        <input minlength="6" maxlength="15" placeholder="numero o utente" type="text" id="telegram" name="telegram"
                            autocomplete="telegram-off" autocorrect="off" spellcheck="false" autocapitalize="off"
                            class="input-long">
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="skype">Contatto Skype</label>
                    </p>
                    <p class="panel-block">
                        <input minlength="6" maxlength="30" placeholder="utente o email" type="text" id="skype" name="skype"
                            autocomplete="skype-off" autocorrect="off" spellcheck="false" autocapitalize="off"
                            class="input-long">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-block">
                        <label class="is-size-5" for="twitter">Twitter</label>
                    </p>
                    <p class="panel-block">
                        <input maxlength="30" placeholder="@nomeutente" type="text" id="twitter" name="twitter"
                            autocomplete="twitter-off" autocorrect="off" spellcheck="false" autocapitalize="off"
                            class="input-long">
                    </p>
                </div>
            </div>
        </div>

        <div class="field">
            <p>Un'ultima domanda, vogliamo assicurarci tu non sia un BOT</p>
        </div>

        <div class="panel">
            <div class="panel-block">
                <div class="content">
                    <label class="is-size-5" for="quiz">Quanto fa 40 {{ sign }} 2? <span class="required">*</span></label>
                </div>
            </div>
            <div class="panel-block">
                <div class="control">
                    <input required placeholder="Inserisci un numero" class="input-short" type="number" id="quiz" name="quiz" ref="quiz">
                    <p class="help is-danger has-text-weight-bold" v-show="isFailedQuiz">La risposta alla domanda di controllo è sbagliata, inserisci la risposta corretta. Se non ce la fai usa una calcolatrice.<br>Se ancora non ce la fai... niente, amen.</p>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="columns is-mobile is-variable is-1">
                <div class="column is-narrow">
                    <input required type="checkbox" id="declaration" name="declaration" class="declaration is-size-6">
                </div>
                <div class="column">
                    <div class="control">
                        <label class="checkbox is-size-5" for="declaration">
                            Dichiaro di non stare violando la privacy di altri individui, e di agire nel rispetto del servizio segnalato e di questo progetto. Sono conscio che non sarebbe una bella cosa se agissi altrimenti.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control has-text-centered">
                <button class="button is-info is-large " :class="isFormValid? '' : 'is-disabled'" method="post" type="submit">
                    Invia segnalazione
                </button>
            </div>
        </div>
    </form>


    <div v-if="isSubmitted && !isFailed" class="feedback">
        <div tabindex="0" class="panel is-info">
            <h1 class="panel-heading"><i class="lar la-hand-peace"></i>Segnalazione inviata</h1>
            <div class="panel-block">
                <div class="content">
                    <p>La tua segnalazione è stato inviata.<br>
                        Alcune persone volenterose prenderanno in esame le informazioni che hai fornito e ne faranno buon uso.</p>
                    <p>Ti ringraziamo per il prezioso contributo.</p>
                </div>
            </div>
        </div>
        <nuxt-link to="/">
            ‹ torna alla Lista dei servizi
        </nuxt-link>
    </div>
</div>
</template>

<script>
import axios from "axios";
import { ENDPOINTURL } from '../config/constants.js';

export default {
    data() {
        return {
            isFormValid: false,
            isSubmitted: false,
            isFailed: false,
            isFailedQuiz: false,
        };
    },
    computed: {
        sign() {
            const signs = ['+', '-'];
            const i = Math.floor(Math.random() * signs.length)
            return signs[i];
        }
    },
    methods:{
        onChange(e) {
            this.isFormValid = this.$refs.serviceForm.checkValidity();
        },
        onSubmit(e) {
            const formData = new FormData(e.target);
            const axiosConfig = {
                header: { "Content-Type": "application/x-www-form-urlencoded" }
            };

            this.isSubmitted = false;
            this.isFailed = false;
            this.isFailedQuiz = false;


            axios.post(`https://xho.bedita.net/psicovid19/index.php`, formData, axiosConfig)
                .then(response => {
                    this.isSubmitted = true;
                })
                .catch(error => {
                    if (error.response && error.response.data && error.response.data.quizError) {
                        this.$refs.quiz.focus();
                        this.$refs.quiz.style.color = "#ff0000";
                        this.isFailedQuiz = true;
                        return;
                    }

                    this.isFailed = true;
                    if (process.browser) {
                        window.scrollTo({
                            'behavior': 'smooth',
                            'left': 0,
                            'top': 0
                        });
                        this.$refs.errorMessage.focus();
                    }
                });
        },
    }
};
</script>

<style lang="scss">
    @import "~/assets/style.scss";

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form, .feedback, .error-message {
        width: 100%;
        max-width: 44rem;
    }

    .required {
        color: #db0f38;
    }

    .panel {
        background-color: white;
        .panel-block {
            padding: 1rem 1.25rem;
        }
    }

    .field {
        margin: 3rem 0 1rem;
        padding: 0 1.25rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .input-short, .input-long {
        border: none;
        padding: 1rem 0.5rem;
        font-size: 1rem;
        border-bottom: 1px solid #ced4da;
        width: 100%;
        letter-spacing: .5px;
    }
    @media screen and (min-width: 769px), print {
        .input-short {
            width: 33%;
        }
    }

    .prefix {
        padding: calc(1rem - 2px) .75rem;
        background-color: #f5f5f5;
        border: 1px solid #ced4da;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        font-size: .875rem;
        color: #495057;
        pointer-events: none;
    }
</style>
