<template>
  <div>
    <div class="columns is-multiline is-variable is-6" v-if="list.length">
        <div class="column is-half is-one-third-widescreen is-one-quarter-fullhd" v-for="item in list" :key="item.id">
            <Card :item="item" @showImage="imageModalListener" />
        </div>
    </div>

    <div v-else>
        <div class="notification is-info is-light">Nessun risultato</div>
        <hr>
    </div>
  </div>
</template>

<script>
import Card from "~/components/Card.vue";

export default {
    props: {
        list: {
            type: Array,
            default: () => [],
        }
    },
    components: {
        Card,
    },
    methods: {
        imageModalListener: function(imageUrl){
            this.$emit('showImage', imageUrl);
        }
    }
};
</script>
