<template>
<header>
    <nav class="navbar" role="navigation" aria-label="menu principale">
        <div class="navbar-brand">
            <nuxt-link class="navbar-item" to="/" >
                <img alt="link homepage" class="rotating" src="~static/icon.svg">
            </nuxt-link>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start"></div>

            <div class="navbar-end">
                <nuxt-link class="navbar-item" to="form" v-show="$nuxt.$route.name == 'index'">
                    <i class="las la-plus-circle is-size-5 is-size-4-tablet"></i> Segnala <span class="is-hidden-mobile">&nbsp;servizio</span>
                </nuxt-link>

                <nuxt-link class="navbar-item" to="/" v-show="$nuxt.$route.name == 'form'">
                    <i class="las la-list is-size-5 is-size-4-tablet"></i> Lista <span class="is-hidden-mobile">&nbsp;servizi</span>
                </nuxt-link>

                <a class="navbar-item" href="#" @click.prevent="showAbout()">
                    <i class="las la-info-circle is-size-5 is-size-4-tablet"></i> Info
                </a>
            </div>
        </div>
    </nav>
</header>
</template>

<script>
export default {
    methods: {
        showAbout() {
            this.$emit('showAbout', true);
        },
        reload() {
            window.location.reload();
        }
    }
}
</script>

<style scoped lang="scss">
.navbar {
    background: transparent;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 6px rgba(0,0,0,.5);

    padding: 1rem 0;
    height: 5.25rem;
    @media screen and (min-width: 769px), print {
        padding: 1rem;
        height: 6rem;
    }
    @media screen and (min-width: 1408px) {
        height: 7rem;
    }

    .navbar-item {
        display: flex;
        align-items: center;
        img {
            width: 2rem;
            max-height: 2rem;
            @media screen and (min-width: 769px), print {
                width: 3rem;
                max-height: 3rem;
            }
            @media screen and (min-width: 1408px) {
                width: 4rem;
                max-height: 4rem;
            }
        }
    }
}

.navbar-menu {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0 .25rem 0 0;
    justify-content: flex-end;
    align-items: stretch;
    .navbar-end {
        align-items: stretch;
        display: flex;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(60deg);
    }
}

.rotating:hover {
    animation: rotating 4s ease-in-out infinite alternate;
}
</style>
