<!-- NON USATO -->
<template>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#" @click.prevent="reload()">
                <img class="rotating" src="~static/icon.svg">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                :class="menuPanelActive? 'is-active' : ''"
                @click="toggleHeaderMenu()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" :class="menuPanelActive? 'is-active' : ''">
            <div class="navbar-start"></div>

            <div class="navbar-end">
                <a class="navbar-item" @click.prevent="showAbout()">
                    <i class="las la-info-circle is-size-5"></i> Info
                </a>

                <a class="navbar-item" href="https://gitlab.com/bedita/covid19/supporto-psicologico-covid-19" target="_blank">
                    <i class="lab la-gitlab is-size-5"></i> Gitlab
                </a>
            </div>
        </div>
    </nav>
</header>
</template>

<script>
export default {
    props: [],
    data() {
        return {
            menuPanelActive: false,
        }
    },
    methods: {
        toggleHeaderMenu() {
            this.menuPanelActive = !this.menuPanelActive;
        },
        showAbout() {
            this.$emit('showAbout', true);
        },
        reload() {
            window.location.reload();
        }
    }
}
</script>

<style scoped>
@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    75% {
        transform: rotate(60deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
.rotating:hover {
    animation: rotating 4s linear infinite;
}
</style>
