@import './styles/variables', './styles/layout';

body {
    font-family: 'Nunito', sans-serif;
    background-color: $gray-100;

    *:focus {
        outline: 3px dashed #ccc !important;
    }

    img:focus {
        outline: none;
    }
}

i.lab, i.lar, i.las {
    margin-right: .375rem;
}

// helper classes
.nowrap {
    white-space: nowrap;
}

// bulma overrides
.is-disabled {
    opacity: .5;
    cursor: not-allowed;
}

[v-cloak] {
    display: none;
    visibility: hidden;
}
