.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    .section, footer.main-footer {
        padding: 0 1rem;
        @media screen and (min-width: 425px), print {
            padding: 1rem;
        }
        @media screen and (min-width: 769px), print {
            padding: 2rem;
        }
    }

    section.section {
        flex-grow: 1;
        margin: 2rem 0 1rem;
    }

    header.site-title {
        margin: 0 0 1.75rem;
        @media screen and (min-width: 425px), print {
            margin: 0 0 3rem;
        }
    }

    footer.main-footer {
        margin-top: 1rem;
        background-color: $gray-900;
        color: $gray-500;
    }
}
