<template>
    <section class="main-container">
        <Navbar @showAbout="onShowAbout" />

        <section class="section">
            <main>
                <FormService />
            </main>
        </section>

        <Footer />

        <AboutModal :isActive="isAboutActive" @closeAbout="onCloseAbout" />
    </section>
</template>

<script>
/* eslint-disable */
import Base from "./base.vue";
import axios from "axios";
import Navbar from "~/components/Navbar.vue";
import Footer from "~/components/Footer.vue";
import FormService from "~/components/FormService.vue";
import AboutModal from "~/components/AboutModal.vue";

import { BASEURL } from "../config/constants.js";

export default {
    extends: Base,
    components: {
        FormService,
    },
    data() {
        return {
                list: [],
                isAboutActive: false,
                currentImageUrl: '',
                isObsoleteURL: false,
            };
    },
    methods: {
        onShowAbout(e) {
            this.isAboutActive = true;
        },
        onCloseAbout(e) {
            this.isAboutActive = false;
        },
    },
};

</script>
