<template>
  <section class="main-container">
    <Navbar @showAbout="onShowAbout" />

    <div class="message is-info moved-warning" v-show="isObsoleteURL">
        <div class="message-header">
            <p>Attenzione, questo sito ha un nuovo indirizzo:<br>
            <a href ="https://psicovid19.bedita.net">psicovid19.bedita.net</a>
            </p>
        </div>
    </div>

    <section class="section">
        <header tabindex="0" class="site-title">
            <h1 class="title is-uppercase has-text-weight-light">Supporto psicologico <span class="nowrap">Covid-19</span></h1>
            <h2 class="subtitle" >Una lista di servizi <span class="has-text-weight-bold">gratuiti</span> raggiungibili online o via telefono in Italia</h2>
            <p class="help">{{ list && list.length }} iniziative censite<br>Ultimo aggiornamento: 29 maggio 2020</p>
        </header>

        <main>
            <Filters
                :categories="allCategories" :countResults="filteredList.length"
                @search="searchString = $event" @selectCategories="searchCategories = $event" />
            <List :list="filteredList" @showImage="onShowImage" />
        </main>

        <div class="message is-info">
            <div class="message-body">
                <p>Se desideri aggiungere un servizio alla lista, segnalare un problema, contribuire o inviare dei suggerimenti, consulta le istruzioni in <a href="#" @click.prevent="onShowAbout()">Info</a></p>
            </div>
        </div>
    </section>

    <Footer />

    <AboutModal :isActive="isAboutActive" @closeAbout="onCloseAbout" />
    <ImageModal :isActive="isImageActive" :imageUrl="currentImageUrl" @closeImage="onCloseImage" />
  </section>
</template>

<script>
/* eslint-disable */
import Base from "./base.vue";
import List from "~/components/List.vue";
import Filters from "~/components/Filters.vue";
import ImageModal from "~/components/ImageModal.vue";
import axios from "axios";
import { BASEURL, CATEGORIES, SEARCHFIELDS } from "../config/constants.js";

export default {
    extends: Base,

    data() {
        return {
            list: [],
            isImageActive: false,
            currentImageUrl: '',
            allCategories: CATEGORIES,
            searchCategories: CATEGORIES,
            searchString: '',
        };
    },

    components: {
        List,
        Filters,
        ImageModal,
    },

    computed: {
        filteredList() {
            return this.list.filter(item => {
                // search text
                const str = this.searchString.toLowerCase();
                let foundStrings = SEARCHFIELDS.some( field => item[field].toLowerCase().indexOf(str) !== -1 );

                // search categories
                let foundCategories = false;
                if (this.allCategories.length === this.searchCategories.length) {
                    foundCategories = true;
                } else {
                    const intersection = (item.categories && item.categories.filter(x => this.searchCategories.includes(x))) || [];
                    foundCategories = !!intersection.length;
                }

                return foundCategories && foundStrings;
            });
        }
    },

    mounted() {
        if (process.browser) {
            this.isObsoleteURL = window.location.host.split(':')[0] == 'xho.gitlab.io';
        }
    },

    methods: {
        onShowImage(e) {
            this.currentImageUrl = e;
            this.isImageActive = true;
        },
        onCloseImage(e) {
            this.currentImageUrl= '';
            this.isImageActive = false;
        },
    },

    async asyncData({ req, isServer, params, store }) {
        return await axios.get(BASEURL + "/list.json").then(res => {
            let list = res.data;
            return { list: list };
        });
    }
};
</script>

<style lang="scss">
    @import "~/assets/style.scss";
    .site-title {
        h2.subtitle { margin-bottom: .5rem; }
        @media screen and (min-width: 1408px) {
            h1 { font-size: 2.5rem; }
            h2.subtitle { font-size: 1.5rem; }
        }
    }
    .message.moved-warning {
        margin-bottom: 0;
    }
</style>
